/* Main Text font */
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

/* Reset CSS */
*{margin: 0; padding: 0; box-sizing: border-box;}
ol, ul{list-style: none;}
a{text-decoration: none; color: #555;}
img{display: block;}
body{font-family: 'Poiret One', cursive; font-size: 14px; line-height: 1.6; color: #555;}

.wrap{width: 100%; height: auto; position: relative;}


/* Header Style Code */
#header{width: 15%; height: 100%; background: #fff; position: fixed; display: flex; flex-direction: column; justify-content: space-between;}
#header .log{width: 100%; height: 33.33%; display: flex; justify-content: center; align-items: center;}

#header .gnbs{width: 100%; height: 33.33%; display: flex; justify-content: center; font-size: 18px; line-height: 2.4; padding: 20px 0; transition: all 0.4s;}

#header .gnbs li:hover a{color: skyblue;}


#header .social{width: 100%; height: 33.33%; display: flex; flex-direction: column; align-items: center; justify-content: flex-end; padding-bottom: 20px;}
#header .social>.about{width: 100%; display: flex; justify-content: center;}
#header .social>.about .abt-c{width: 80%; display: flex; align-items: center; justify-content: center; margin-right: 10px;}
#header .social>.social-btn{width: 100%; display: flex; justify-content: center;}

#header .social>.about p{width: 50%;padding: 0 10px; font-size: 12px; height: 10px; display: flex; align-items: center;}
#header .social>.about p:nth-child(1){border-right: 0.5px solid #555; justify-content: flex-end;}

#header .social-btn> ul{width: 70%; display: flex; justify-content: center;}
#header .social-btn> ul li a{font-size: 24px; margin: 0 5px;}

/* container-lnb section Code */
#container{width: 85%; height: auto; position: absolute; right: 0;}

#container .lnb{width: 100%; height: 25px; background: #212121; display: flex; justify-content: space-between; align-items: center; color: #fff; padding: 0 15px;}

#container .lnb .lang{display: flex;}
#container .lnb .lang .lang-btn{margin-left: 25px;}
#container .lnb .lang .lang-btn i{padding-left: 10px;}

#container .lnb .login em{font-style: normal;}

/* container-contents Style Code */
.contents{width: 100%; height: auto;}
.contents article{width: 20%; height: 260px; float: left;cursor: pointer; animation: landing 1s; overflow: hidden;}


.contents article:nth-child(1){width: 60%; height: 520px;}
.contents article:nth-child(2){width: 40%;}
.contents article:nth-child(6){width: 40%;}
.contents article:nth-child(9){width: 40%;}

/* contents Imag Code */
.contents article{position: relative; background-repeat: no-repeat; background-size: cover; overflow: hidden;}
.contents article:nth-child(1){background-image: url(/mySite/moldiv/img/pic1.jpg);}
.contents article:nth-child(4){background-image: url(/mySite/moldiv/img/pic2.jpg);}
.contents article:nth-child(5){background-image: url(/mySite/moldiv/img/pic3.jpg);}
.contents article:nth-child(7){background-image: url(/mySite/moldiv/img/pic4.jpg);}
.contents article:nth-child(9){background-image: url(/mySite/moldiv/img/pic5.jpg);}
.contents article:nth-child(10){background-image: url(/mySite/moldiv/img/pic6.jpg);}
.contents article:nth-child(12){background-image: url(/mySite/moldiv/img/pic7.jpg);}





.contents .idx1 span{position: absolute; font-size: 170px; bottom: -72px; right: -10px; color: #fff; transition: all 0.4s;}
.contents .idx1:hover span{color: #212121; }


.contents .txt{padding: 40px 30px; position: relative; width: 100%; height: 100%; transition: all 0.4s;}
.contents .txt strong{font-size: 30px;}
.contents .txt p{width: 60%;}
.contents .txt i{transform: scale(20); position: absolute; right: 0; bottom: 20px; opacity: 0; color: #fff; transition: all 0.8s;}

.contents .txt:hover{background: #6ce2fb; color: #fff;}
.contents .txt:hover i{right: 135px; opacity: 0.5;}

.contents article:nth-child(3){background: #bff7fa;}
.contents article:nth-child(3) i{opacity: 1; font-size: 160px; bottom: -5px;}
.contents article:nth-child(3):hover i{right: 0;}


/* approach animation */
@keyframes landing {
  0%{transform: scale(0);}
  100%{transform: scale(1);}
}